.contactus-container{
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    text-align: center;
}
.contactus-container h1{
    font-size: 32px;
    margin-bottom: 20px;
}
.contactus-container p{
   font-size: 18px;
   margin-bottom: 40px;
}
.conatact-form label{
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
    text-align: left;
}
.conatact-form .formgroup{
    margin-bottom: 20px;
    text-align: left;
}
.conatact-form input,
.conatact-form textarea{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.submitButton{
   padding: 10px 20px;
   font-size: 16px;
   background-color: #4caf50;
   color: #fff;
   border: none;
   border-radius: 5px;
   cursor: pointer;
}
.submitButton:hover{
    background-color: #45a049;
}